.navigator{
	margin:0; padding:0 ;
	width:1250px;
	height:100px;
	background:url("../imgs/nav.png");
	background-size: 100% 100%;
	position:relative;
	padding-right:0em;
	line-height:0px;
	margin: 0px auto;
	top: -38px;
}
.navigator ul{
	position: relative;
	right: -320px;
	list-style: none;
}
.navigatorli{
	float:left;
	width:131px;
	height:50%;
	padding-right:0em;
	padding-top:2em;
	text-align:center;
	display:inline;
	list-style:none;
	font-size:25px;
	/*border-right:1px;
	border-right-color:rgb(235,163,82);
	border-right-style:groove;
	
	line-height:20px;*/
}
a.navigatora{
	color:rgb(255,255,255);
		font-size:25px;
		font-weight:bold;
		text-decoration:none;
		
}
a.navigatora:hover{
	color:rgb(213,93,12);
	text-decoration:none;
}
.main{
	height: 480px;
	width: 1000px;
	margin: 50px auto;
	background: #ccc;
	padding: 20px;
}
.intro{
	margin: 20px;
	background: white;
	width: 420px;
	height: 300px;
	float: right;
	padding: 10px 20px;
}
.intro h1{
	font-size: 24px;
}
.intro p{
	text-indent: 2em ;
	font-size: 18px;
}
.button{
	height: 80px;
	width: 600px;
	margin: 20px 200px;
	background: #fff;
	float: left;
}